.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 140px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    font-size: 20px;
}
.nav-connect{
    padding:20px 40px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(188,17,205,0.6526260162268032) 0%, rgba(177,17,141,1) 33%, rgba(0,212,255,1) 100%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}